.homepageMainContainer{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.searchContainer{
    max-width: 100%;
    margin: 1em 0;
    text-align: center;
}

.searchInput{
   width: 80%;
   max-width: 800px;
}

.searchButton{
    height: 100%;
}

.sidebarFilters{
    width: 20%;
    max-width: 200px;
}

.recipesContainer{
    width: 70%;
    display: flex;
    margin: 0;
}

.recipesGrid {
    justify-content: start;
    align-items: stretch;
}

.recipeContainer{
    height: 100%;
    margin: 0;
}
