.paper{
    margin-top: 2em;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
}

.container{  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerSection{
    width: 100%;
}

.topAvatarsContainer{
    position: relative;
}

.avatarsContainer{
    position: absolute;
    display: flex;
    right: 0;
}

.avatar{
    background-color: white;
}

.favButton{  
    color: red;
    padding: 1em;
}

.editButton{
    padding: 1em;
}


.image{
    width: 100%;
    height: auto; 
    max-height: 400px; 
}