.container{
    width: 80%;
    margin-top: 1em;
}

.container > *{
    margin-bottom: 1em;
}

.selectContainer,
.ingredientsContainer,
.stepsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.select {
    min-width: 300px;
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.insertIngredient{
    min-width: 200px;
    width: 45%;
    margin: auto;
    margin-bottom: 1em;
}

.addItem{
    margin: auto;
}

.step{
    margin-bottom: 1em;
}

