.registerContainer{
    margin-top: 1em;
}

.weak{
    color: red;
} 

.medium{
    color: orange;
}

.strong{
    color: green;
}

.css-eglki6-MuiLinearProgress-root{
    margin-top: 0.2em;
}

span.weak>span{
    background-color: red;
}

span.medium>span{
    background-color: orange;
}

span.strong>span{
    background-color: green;
}
